<div ng-controller='currentCtrl'>
  <!--    Spinner    -->
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show='o.info.current.spinner' 
                          md-mode="indeterminate">
    </md-progress-circular>
  </div>
  
  <!--    Current Forecast / Conditions    -->
  <div ng-show='!o.info.current.spinner'>

    <md-list ng-show='o.info.current.expiredMsg || o.info.current.errorMsg'>
      <md-list-item ng-show='o.info.current.expiredMsg' class='expiredMsg'>
        <p> Current weather {{o.info.current.expiredMsg}} </p>
      </md-list-item>
      <md-list-item ng-show='o.info.current.errorMsg' class='errorMsg'>
        <p> {{o.info.current.errorMsg}} </p>
      </md-list-item>
    </md-list>
    
    <div layout='row' style="margin: 14px 0;">
      <div class="imageCol" flex='20'>
        <img ng-src='{{o.info.current.weather.icon_url}}'/>
      </div>
      <div flex='20'>
        <span class="temp">
          {{o.info.current.weather.temp}}&deg;F
        </span><br>
        <span class="feel">
          Feels: {{o.info.current.weather.feels}}&deg;F
        </span>
      </div>
      <div flex='20'>
        <span class="temp">
          {{o.info.current.weather.high}}/{{o.info.current.weather.low}}&deg;F
        </span>
      </div>
      <div flex>
        {{o.info.current.weather.conditions}}
        <br>
        {{o.info.current.weather.precipchance}}%
        <br>
        {{o.info.current.weather.wind}} {{o.info.current.weather.winddir}}
      </div>
    </div>

<!--
    <div class='currentRow  row'>
      <div class="col-xs-2 imageCol">
        <img ng-src='{{o.info.current.weather.icon_url}}'/>
      </div>
      <div class="col-xs-2">
        <span class="temp">
          {{o.info.current.weather.temp}}&deg;F
        </span>
        <span class="feel">
          Feels: {{o.info.current.weather.feels}}&deg;F
        </span>
      </div>
      <div class="col-xs-2">
        <span class="temp">
          {{o.info.current.weather.high}}/{{o.info.current.weather.low}}&deg;F
        </span>
      </div>
      <div class="col-xs-6">
        {{o.info.current.weather.conditions}}
        <br>
        {{o.info.current.weather.precipchance}}%
        <br>
        {{o.info.current.weather.wind}} {{o.info.current.weather.winddir}}
      </div>
    </div>
-->
    
    <!--    Today's Forecast    -->
    <md-card>
      <md-card-content>
        <p>{{o.info.current.weather.forecastTitle0}}: {{o.info.current.weather.forecastText0}}</p>
        <p>{{o.info.current.weather.forecastTitle1}}: {{o.info.current.weather.forecastText1}}</p>
      </md-card-content>
    </md-card>
    
    <!--    Sunrise/Sunset and Records    -->
    <md-card>
      <md-card-content>
        <p>
          Sunrise: {{o.info.current.weather.sunriseHour}}:{{o.info.current.weather.sunriseMin}} AM<br>
          Sunset: {{o.info.current.weather.sunsetHour}}:{{o.info.current.weather.sunsetMin}} PM
        </p>
        <p>Avg H: {{o.info.current.weather.high_avg}}&deg;F
          L: {{o.info.current.weather.low_avg}}&deg;F
        </p>
        <p>Record H: {{o.info.current.weather.high_record}}&deg;F
          Yr: {{o.info.current.weather.high_recordyear}}
          L: {{o.info.current.weather.low_record}}&deg;F
          Yr: {{o.info.current.weather.low_recordyear}}
        </p>
      </md-card-content>
    </md-card>

    <md-list ng-cloak ng-show='o.info.current.weather.alerts.length'>
      <md-subheader style="margin:-12px 0px -18px 0px;"><h4>Weather Alerts</h4></md-subheader>
      <md-list-item ng-repeat="alert in o.info.current.weather.alerts">
        <div layout='column'>
            <p>Type: {{alert.description}}</p>
            <p>Date: {{alert.date}}</p>
            <p>Expires: {{alert.expires}}</p>
            <p style="font-family:courier, monospace;">{{alert.message}}</p>    
        </div>
      </md-list-item>
    </md-list>

    <p>
        Current weather {{ o.info.current.weather.observation_time }}
    </p>

  </div>
</div>