<div ng-controller='monthCtrl'>
  <!-- DEPRECATED MONTH.MESSAGE AT 1.30. BRING BACK IF NEEDED LATER -->
  <!-- <span ng-if='o.info.month.message'> {{o.info.month.message}} </span> -->
  <md-card>
    <md-card-content id='monthInputContent'>
        <div layout="row" id='monthInputCard'>
    
        <!--    Date inputs  -->
        <md-input-container>
          <label>Year</label>
          <md-select ng-model="o.monthUser.year" 
                      ng-change="newMonth()">
            <md-option ng-repeat="year in years" 
                        ng-value="year"
                        ng-disabled="$index === years.indexOf(o.monthUser.year)">
              {{year}}
            </md-option>
          </md-select>
        </md-input-container>
          
        <md-input-container>
          <label>Month</label>
          <md-select ng-model="o.monthUser.monthText"
                      ng-change="newMonth()">
            <md-option ng-repeat="_month in months" 
                        ng-value="_month"
                        ng-disabled="$index === months.indexOf(o.monthUser.monthText)">
              {{_month}}
            </md-option>
          </md-select>
        </md-input-container>
            
        <!--    Date navigation arrows  -->
        <md-button class='md-raised chgMonth'
                   ng-click='nextMonth(false)'>
          <md-icon md-font-icon='material-icons'>
            arrow_back
          </md-icon>
        </md-button>
          
        <md-button class='md-raised chgMonth'
                   ng-click='nextMonth(true)'>
          <md-icon md-font-icon='material-icons'
                   ng-style="{'font-size': '24px'}" >
            arrow_forward
          </md-icon>
        </md-button>
      </div>
          
    </md-card-content>
  </md-card>    

  <!--    Spinner  -->
  <div layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular ng-show='o.info.month.id !== o.monthUser.id()'
                          md-mode="indeterminate">
    </md-progress-circular>
  </div>
        
  <!--    Calendar  -->
  <div ng-bind-html="o.info.month.html" ng-hide='o.info.month.id !== o.monthUser.id()'></div>
    
  <!--    Totals  -->
  <md-card>
      <md-card-content style='padding:0.5em 1em;'>
  
        <md-button  class='md-raised'
                    ng-show='!o.info.month.complete'
                    ng-disabled='requestDisabled'
                    ng-click='requestQueue()'>
                    {{requestText}}
        </md-button>
  
        <md-list id='monthTotals'>
          <md-list-item ng-show='o.info.month.totalrainfall'>
            Total Rain: {{o.info.month.totalrainfall | number:2}}"
          </md-list-item>
          <md-list-item ng-show='o.info.month.totalsnowfall'>
            Total Snow: {{o.info.month.totalsnowfall | number:2}}"
          </md-list-item>
          <md-list-item ng-show='o.info.month.heatingdegreedays'>
            Heating deg days: {{o.info.month.heatingdegreedays}}
          </md-list-item>
          <md-list-item ng-show='o.info.month.coolingdegreedays'>
            Cooling deg days: {{o.info.month.coolingdegreedays}}
          </md-list-item>
          <md-list-item ng-show='o.info.month.mean_temp'>
            Mean Temp: {{o.info.month.mean_temp}}&deg;F
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
    
</div>