<div id='radar' ng-controller='radarCtrl'>
  <div  class="radarMsg"
        ng-show="o.radarRequestTS[o.info.radarUser.id]">
        Loading...
  </div>
  <p ng-show='o.info.radar.expiredMsg' class='expiredMsg'>
    Radar image {{o.info.radar.expiredMsg}} </p>
  <img ng-src='{{o.info.radar.imgUrl}}' 
       ng-show='o.info.radar.img'/>

  <md-button class='md-raised radar-button radar-plus'
             ng-disabled="o.info.radarUser.zoom <= 50"
             ng-click='zoom(true)'>
    <md-icon md-font-icon='material-icons'>
      zoom_in
    </md-icon>
  </md-button>

  <md-button class='md-raised radar-button radar-minus'
             ng-disabled='o.info.radarUser.zoom >= 1000'
             ng-click='zoom(false)'>
    <md-icon md-font-icon='material-icons'>
      zoom_out
    </md-icon>
  </md-button>

</div>